.head-anggota{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%),
    linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%),
    url("/static/files/background-anggota.jpeg");
    background-position: center;
    background-size: cover;
}

.head-anggota h1 {
  color: white;
}

.head-anggota p {
  color: white;
}